<form [formGroup]="form">
<div class="mb-3">
    <input type="text" class="form-control" formControlName="txtName"  placeholder="Type Name">
    <span *ngIf="form.controls['txtName'].touched && form.hasError('required','txtName')">This Feild is required</span>
  </div>

  <div class="mb-3">
    <input type="text" class="btn btn-primary"  value="Search" (click)="Search()" >
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
     <th>
        FirstName 
     </th>
     <th>
        LastName 
     </th>
     <th>
      Phone
      </th>
     <th>
       Department
     </th>
     <th>
        Country
      </th>
      <th>
        City
      </th>
      <th>
        Action
      </th>
    </tr>
    </thead>
    <tbody>
     <tr *ngFor="let item of listEmployee">
       <td>
        {{item.fName}}
       </td>
       <td>
        {{item.lName}}
       </td>
       <td>
        {{item.phone}}
       </td>
       <td>
        {{item.departemnt.name}}
       </td>
       <td>
        {{item.country.name}}
       </td>
       <td>
        {{item.city.name}}
       </td>
       <td>
        <tr>  
          <td>
            <input type="button" value="Edit" class="btn btn-primary" (click)="EditEmp(item.id)">
          </td>
          <td>
            <input type="button" value="Delete" class="btn btn-danger" (click)="DeleteEmp(item.id)">
          </td>
        </tr>
       </td>
     </tr>
    </tbody>
   </table>

</form>