<form [formGroup]="form">
    <h1>New City</h1>

  <div class="mb-3">
      <label for="exampleFormControlInput1"  class="form-label">Name</label>
      <input type="text" class="form-control" formControlName="txtName"  placeholder="Type City Name">
      <span *ngIf="form.controls['txtName'].touched && form.hasError('required','txtName')">This Feild is required</span>
    </div>

    <div class="mb-3">
        <select class="form-select" formControlName="txtCountry_id"  aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option *ngFor="let item of listcountrydto"  value="{{item.id}}">{{item.name}}</option>
          </select>
      </div>  
    <div class="mb-3">
      <input type="button"  class="btn btn-primary"  value="Save" (click)="Save()">
    </div>

  </form>
